footer span
  padding: 0
  margin: 0
  & a
    color: #FFF
    margin-left: 15px
    font-weight: bold

footer .container-fluid
  margin-top: 50px
  background-color: #2A2A2A
  height: 97px
  color: #FFF
  display: flex
  align-items: center

.col-xs-12
  text-align: center
